@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
@keyframes backgroundAnimation {
  0% {
    background-color: #ff7e5f;
  }
  50% {
    background-color: #feb47b;
  }
  100% {
    background-color: #ff7e5f;
  }
}

.background-animation {
  animation: backgroundAnimation 5s ease infinite;
}
